<div class="about-section"> <br>
  <h1>About Us Page</h1>
  <p>
    SendIT is a courier service that helps users deliver parcels to different
    destinations. SendIT provides courier quotes based on weight categories.
  </p>
  <p>Welcome Aboard</p>
</div>

<h2 style="text-align: center"> Meet Our Team</h2>
<div class="row mx-2 justify-content-center">
  <div class="column">
    <div class="card">
      <img
        class="card-img-top w-100"
        src="/assets/Gloria.png"
        alt="Card image cap"
      />
      <div class="container">
        <h2>Gloria Mutie</h2>
        <p class="title">Scrum Master</p>
        <p>Strong Woman in Tech and Leadership</p>
        <p>scrum@sc.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        class="card-img-top w-100"
        src="/assets/ShemMwangi.png"
        alt="Card image cap"
      />
      <div class="container">
        <h2>Shem Mwangi</h2>
        <p class="title">Backend Api Designer</p>
        <p>Youthful Resourceful Company to have</p>
        <p>shem@shem.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        class="card-img-top w-100"
          src="/assets/ShemMwangi.png"
        alt="Card image cap"
      />
      <div class="container">
        <h2>Michael Mbaya</h2>
        <p class="title">Backend Api Designer</p>
        <p>Keen and Enthusiastic Soul to have around</p>
        <p>mike@me.org</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        class="card-img-top w-100"
        src="/assets/Juliet.png"
        alt="Card image cap"
      />
      <div class="container">
        <h2>Juliet Gisemba</h2>
        <p class="title">Frontend Designer</p>
        <p>Eloquent and smart </p>
        <p>jul@et.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img
        class="card-img-top w-100"
          src="/assets/ShemMwangi.png"
        alt="Card image cap"
      />
      <div class="container">
        <h2>Nelson Mwaura</h2>
        <p class="title">Frontend Designer</p>
        <p>Great Remote Team Member</p>
        <p>nel@son.com</p>
        <!-- <p><button class="button">Contact</button></p> -->
      </div>
    </div>
  </div>
</div>
