<div class="about-section">
    <h1>About Us Page</h1>
    <p>SendIT is a courier service that helps users deliver parcels to different destinations. SendIT provides courier quotes based on weight categories.</p>
    <p>Welcome Aboard</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row mx-2 justify-content-center">

    <div class="column">
      <div class="card">
        <img class="card-img-top w-100" src="https://hewalounge.com/files/cto_layout/img/placeholder/team_1.jpg" alt="Card image cap">
        <div class="container">
          <h2>Jane Doe</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>jane@example.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
          <img class="card-img-top w-100" src="https://hewalounge.com/files/cto_layout/img/placeholder/team_1.jpg" alt="Card image cap">
          <div class="container">
            <h2>Jane Doe</h2>
            <p class="title">CEO & Founder</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>jane@example.com</p>
            <!-- <p><button class="button">Contact</button></p> -->
          </div>
        </div>
      </div>

    <div class="column">
      <div class="card">
        <img class="card-img-top w-100" src="https://hewalounge.com/files/cto_layout/img/placeholder/team_1.jpg" alt="Card image cap">
        <div class="container">
          <h2>Mike Ross</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>mike@example.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img class="card-img-top w-100" src="https://hewalounge.com/files/cto_layout/img/placeholder/team_1.jpg" alt="Card image cap">
        <div class="container">
          <h2>John Doe</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>john@example.com</p>
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
            <img class="card-img-top w-100" src="https://hewalounge.com/files/cto_layout/img/placeholder/team_1.jpg" alt="Card image cap">
          <div class="container">
            <h2>John Doe</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>john@example.com</p>
            <!-- <p><button class="button">Contact</button></p> -->
          </div>
        </div>
      </div>

  </div>