<div class="container-fluid">
  <div class="home-pg">
    <h1 class="text-dark text-center">{{ title }}</h1>
    <div class="row text-center justify-content-center">
      <div class="col-md-9">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Destination</th>
              <th>Dispatch Time</th>
              <th>Expected Delivery Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let deliver of delivery">
              <td>{{ deliver.id }}</td>
              <td>{{ deliver.item }}</td>
              <td>{{ deliver.quantity }}</td>
              <td>{{ deliver.price }}</td>
              <td>{{ deliver.destination }}</td>
              <td>{{ deliver.dispatch_time }}</td>
              <td>{{ deliver.delivery_time }}</td>
            </tr>
          </tbody>
        </table>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
        <h1></h1>
      </div>
    </div>
  </div>
</div>
