.nav-links{
    position: relative;
    right: -75%;
  }

  .nav-links li{
    font-weight: bolder;
    font-family: system-ui, serif;
    border-color: #8898aa;
  }

  .nav-links li:hover{
    color:teal;
    text-decoration: underline;
  }
 
  .logotext{
    font-weight: bolder;
    font-size: 1.85em;
  }

  .nav-bar {
    background-color: rgba(240, 248, 255, 0.459);
    color: black;
  }