.sign-up{
    background-color:#FF5733;
}

.button-gradient{
    border-radius:20px;
  }
  
.button-gradient:hover{
    background-color: #2EE59D;
    box-shadow: 0px 10px 15px #AFA7A7;
    color: #fff;
  }