<div class="text-center">
    <form action="" method="" class="sign-up border border-2 rounded m-3 p-3">
        <div class="d-flex justify-content-center align-items-center">
            <h1>Sign Up</h1>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control email" name="email">
        </div>

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="pwd" id="pwd" class="pwd form-control" name="pwd">
        </div>

        <div class="m-2 p-2 d-flex justify-content-around align-content-center">
            <button type="submit" class="btn btn-lg btn-primary button-gradient">Sign Up</button>
        </div>

    </form>
</div>