<div class="container-fluid">
  <h1 class="text-dark text-center">{{ title }}</h1>
  <div class="row text-center justify-content-center">
    <div class="col-md-6">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Physical Address</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.phone_number }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
