/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

form{
    background-color:#a5ecd7;
}

.button-gradient{
    border-radius:20px;
  }
  
.button-gradient:hover{
    background-color: #2EE59D;
    box-shadow: 0px 10px 15px #AFA7A7;
    color: #fff;
  }

  *{
    margin:0;
    padding:0;
    /* font-family: 'Sansita Swashed', cursive;   */
    font-family: 'Ubuntu', sans-serif;
  }
